<%-include("partials/header") %>
<div class = "loadingSubmit">
    <img src = "assests/infinityloader.gif"  alt = "img" />
    <p>Changing Your Password......</p>
</div>
<div class = "container">
    <form class="form-signin" method="post" action="/changepasswordin" onsubmit="handleLoading()">
        <h2 class="form-signin-heading">New Passsword</h2>
        <label for="inputPassword" class="sr-only">New Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="New Password" required autofocus autocomplete="off">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
    </form>

    </div>
    <script src = "scripts/changepasswordloader.js"></script>
    </body>

    </html>